@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
  font-family: 'payda';
  src: url('../public/fonts/PEYDA-MEDIUM.TTF'),
       
  /* Add more src lines for additional font formats if needed */
}
@font-face {
  font-family: 'vazir';
  src: url('./../public/fonts/Vazirmatn-Medium.ttf'),
       
  /* Add more src lines for additional font formats if needed  ../public/fonts/Vazirmatn-Medium.ttf*/
}
#root {
  margin: 1rem 4rem;
}
.gradiant-text{
  background: linear-gradient(to right,#461f69, #bd1cdd, #dbce14, #e423da, #461f69,  #ecc517);
  background-clip: text;
  background-size:300% ;
}
.gradiant-text2{
  background: linear-gradient(to right, #003366, #ff9933, #cc0033b9, #ffcc00, #003366, #ff9933);
  background-clip: text;
  background-size:300% ;
}
.gradiant-text3{
  background: linear-gradient(to right, #1e3c72, #2a5298, #e52d27b2, #ff4b2bbb, #1e3c72, #2a5298);
  background-clip: text;
  background-size:300% ;
}
.quill{
  
border-radius: 10px !important;
  background-color: #ffff !important; 
  outline: none !important;
  height: auto !important;
  border: 1px solid rgb(133, 128, 128) !important;
 
  box-shadow: none !important;

}
 .ql-container {
  border: none !important;
font-family: vazir !important;

 
}
.ql-conainer .ql-snow {
border: none !important;
outline: none !important;

}

/* Snow Theme */
 .ql-snow .ql-toolbar {
  display: block;
  /* background: #eee3e3 !important; */
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-radius: 10px !important;
}
.ql-editor {
 text-align: right !important; 
  /* font-size: 18px !important; */
  /* //font-weight: 600 !important; */
  border: none !important;
  outline: none !important;
  height: 500px !important;
  border-radius: 10px !important;
  color: black !important;
  line-height: 1.4 !important;
}
.ql-editor .ql.blank{
  outline: none !important;
  border: none !important;

}
/* .ql-editor p{
  min-height: 18em;
  text-align:  center !important;
} */

 .ql-clipboard {
  position: absolute;
 text-align: center !important;
 margin: auto !important;

}
.ql-toolbar.ql-snow {

 margin: auto !important;

}
button:hover .ql-stroke,
.ql-picker-label:hover .ql-stroke {
  fill: none;
  stroke: red !important;
}

.ql-active .ql-stroke {
  fill: none;
  stroke: red !important;
}

button:hover .ql-fill,
.ql-picker-label:hover .ql-fill {
  fill: red !important;
  stroke: none;
}

.ql-active .ql-fill {
  fill: red !important;
  stroke: none;
}
.ql-syntax{
  /* text-align: left !important;
  direction: ltr !important; */
 padding: 15px !important;
 background-color: #3d2f4b;
 border-radius: 15px !important;
 color: #EEEEEE !important;
}

@media (max-width: 800px) {
  .ql-syntax {
    width: 500px !important;
    overflow-x: auto;
   
  }
}
@media (max-width: 500px) {
  .ql-syntax {
    width: 420px !important;
  }
}
@media (max-width: 400px) {
  .ql-syntax {
    width: 320px !important;
  }
}

.ql-snow .ql-editor img {
  max-width: 100%;
  margin: 0 auto !important;
}
.leading-relaxed p{
  line-height: 2 !important;
  font-size: 18px !important;
 
}
@media (max-width: 700px) {
  .leading-relaxed p{
    line-height: 2 !important;
    font-size: 14px !important;
   
  }
}
.leading-relaxed p img{
  /* //line-height: 2.5 !important; */
  background-color: red;
  margin: 0 auto !important;
}
.leading-relaxed ul li img{
  /* //line-height: 2.5 !important; */
 
  margin: 0 auto !important;
}
:root {
  --font-family-body:'vazir', sans-serif !important;
  --bg:#2d3e5f;
  --bgGolden:#e9c274;
  --ligthBlue:#85bfe887;
  --black:#eee;
  --text:#1c0c3de6;
  --ligthText:#7d51c2e6;
  --white:#fff;
  --orangecolor:rgba(218,110,25);
  --purple:rgba(65,24,78);
  --redcolor:rgba(184,0,25);
  --greencolor:rgba(122,203,174);
  --greenBg:rgba(85, 136, 64, 0.918);
  --pink:rgb(246, 226, 250);
  --darkPink:rgba(149, 139, 158, 0.336);
  --shadowBox:rgba(0 4px 2px -2px gray);
  --sidebar-bg: #f6e2fa;
  --sidebar-bg1: #41244e;
  --sidebar-bg2: rgba(122, 203, 174, 0.1);
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden !important;
 
  font-family:var(--font-family-body) !important;
  background-color: var( --bg) !important; 
/* color: var(--text) !important;  */
 color: #fff !important; 
  
}
label{
  font-size: 18px !important;
margin-bottom: 20px !important;
color: var(--bgGolden);}

a{
  text-decoration: none;
  color: inherit;
}
/* swiper*/
.swiper-pagination-bullet{
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  background: var( --icons) !important;
  opacity: 1;
  margin: 0 5px;
}


.box {
  width: 75px;
  height: 75px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: blue;
  font-weight: 600;
  color: red;
  line-height: 1.2;
  will-change: transform;
}
/*friends*/

 .slick-prev::before {
  content: '>' !important;
  font-size: 24px !important;
  font-weight: 900 !important;
  color: var(--bgGolden) !important;

}
.slick-next::before {
 
  content: '<' !important;
  font-size: 24px !important;
  font-weight: 900 !important;
  color: var(--bgGolden) !important;

}

.slick-dots{
  margin-top: 20px !important;
  
}
.slick-dots li button{
  width: 32px !important; 
  height: 32px !important;
  
  
}
.Toastify{
  text-align:  right !important;
  font-family:var(--font-family-body) !important;
font-size: 18px !important;
}